:root {
    --verde-oscuro: #295730;
    --rojo: #A81B36;
    --marron: #5E3827;
    --dorado: #AC8354;
    --crema: #FBF2E7;
    --vh: 1vh;
}

.bg-crema {
    background-color: var(--crema) !important;
}

.text-rojo {
    color: var(--rojo) !important;
}

.btn-rojo {
    background-color: var(--rojo);
    border-color: var(--rojo);
    color: white;
}

.btn-rojo:hover {
    background-color: #881327;
    border-color: #881327;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.text-marron {
    color: var(--marron) !important;
}

.border-marron {
    border-color: var(--marron) !important;
}

.btn-marron:hover {
    background-color: var(--marron);
}

.btn-dorado {
    background-color: var(--dorado);
}

.vector {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@font-face {
  font-family: 'TT Chocolates Regular';
  src: url('../assets/fonts/TT Chocolates Trial Regular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'TT Chocolates Light';
  src: url('../assets/fonts/TT Chocolates Trial Light.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'TT Chocolates Medium';
  src: url('../assets/fonts/TT Chocolates Trial Medium.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'TT Chocolates Bold';
  src: url('../assets/fonts/TT Chocolates Trial Bold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'TT Chocolates ExtraBold';
  src: url('../assets/fonts/TT Chocolates Trial ExtraBold.otf') format('opentype');
  font-style: normal;
}

/* Aplica la fuente regular a todo el sitio por defecto */
body, html {
  font-family: 'TT Chocolates Regular', Arial, sans-serif;
}

/* Estilos específicos para cada peso de fuente */
.fw-light {
  font-family: 'TT Chocolates Light', Arial, sans-serif !important;
}

.fw-normal, .fw-regular {
  font-family: 'TT Chocolates Regular', Arial, sans-serif !important;
}

.fw-medium {
  font-family: 'TT Chocolates Medium', Arial, sans-serif !important;
}

.fw-bold {
  font-family: 'TT Chocolates Bold', Arial, sans-serif !important;
}

.fw-bolder {
  font-family: 'TT Chocolates ExtraBold', Arial, sans-serif !important;
}
